@import "styles/00normalize.lessimport";

/* CSS declarations go here */
body, html {
  margin           : 0;
  padding          : 0;
  background-color : #dff;
  height           : 100%;
  width            : 100%;
  font-family      : 'Open Sans', sans-serif;
}

#container {
  max-width        : 1024px;
  margin           : auto;
  background-color : #eff;
  color            : #333;
}

.heading {
  font-family    : 'Ubuntu', sans-serif;
  color          : rgb(0, 10, 10);
  font-weight    : bold;
}

h1 {
  font-size      : 200%;
  text-align     : center;
  padding-top    : 1em;
  padding-bottom : 1em;
}

ul.messages {
    padding         : 0;
    margin          : 0;

    li {
        list-style-type : none;
        padding         : 0;
        margin          : 0;

        .msg-info {
            margin-left   : 1em;
            margin        : 1px;
            margin-bottom : 2px;

            .user-name {
                font-style: italic;
            }

            .time {
                padding: 0.25em 0.8em;
            }
        }

        .message-box.segment {
            padding: 0.25em;
        }

        .message {
            // To allow labels to appear nicely.
            position : relative;

            .info {
                float          : right;
                margin-top     : 0em;
                padding-top    : 0.25em;
                padding-bottom : 0.25em;
            }
        }

        .msg-detail {
            .ui.top.attached.message-box.segment {
                top: -1px;
            }
        }
    }
}

.choose-engine.stackable.grid, .post-message.stackable.grid {
    .column {
        /* This is because semantic-ui's grid sets the margin using
         `!important`. */
        margin-top     : 0 !important;
        padding-top    : 0 !important;

        margin-bottom  : 0 !important;
        padding-bottom : 0 !important;
    }
}
