@import "styles/00normalize.lessimport";

/* CSS declarations go here */
body, html {
  margin           : 0;
  padding          : 0;
  background-color : #dff;
  height           : 100%;
  width            : 100%;
  font-family      : 'Open Sans', sans-serif;
}

#container {
  width            : 800px;
  margin           : auto;
  background-color : #eff;
  color            : #333;
}

.heading {
  font-family    : 'Ubuntu', sans-serif;
  color          : rgb(0, 10, 10);
  font-weight    : bold;
}

h1 {
  font-size      : 200%;
  text-align     : center;
  padding-top    : 1em;
  padding-bottom : 1em;
}

ul.messages {
    li {
        list-item-style: none;
    }
}
