@import "styles/lib/normalize.lessimport";
@import "styles/lib/lessprefixer.lessimport";
@import "styles/lib/flexprefixer.lessimport";
/* apply a natural box layout model to all elements */

*, *:before, *:after {
  .box-sizing(border-box);
}

/* CSS declarations go here */
body, html {
  margin           : 0;
  padding          : 0;
  height           : 100%;
  width            : 100%;
  font-family      : 'Open Sans', sans-serif;
}

/* Pale blues from Adobe:
 * https://kuler.adobe.com/pale-blues-from-graffiti-pic-color-theme-3459663/
 */
@deepest   : #522AA4;
@deep      : #31588F;
@middle    : #9CB1CE;
@light     : #2CAAC1;
@highlight : #F47B5E;

html {
  background : url(/images/bg.png) no-repeat center center fixed;
  .background-size(cover);
}

#site-header {
    @bg           : fadeout(desaturate(@deepest, 10%), 10%);
    padding-left  : 20%;
    padding-right : 20%;
    background    : @bg;
    color         : desaturate(@highlight, 20%);

    .box-shadow(0 5px 5px 0px @bg);

    z-index       : 999;
    position      : fixed;
    top           : 0;
    left          : 0;
    right         : 0;

    a {
      color: inherit;
    }

    .heading {
      margin-top     : 0;
      margin-bottom  : 0;

      display        : inline-block;
      font-family    : 'Ubuntu', sans-serif;
      font-weight    : bold;

      font-size      : 200%;
      text-align     : center;
    }

    .login-buttons-container {
      float      : right;
      text-align : right;
      color      : desaturate(@highlight, 10%);

      #login-buttons {
        line-height: 2em;
      }
    }
}


@container-bg: fadeout(@middle, 5%);
#container {
  margin           : auto;

  max-width        : 1024px;
  min-height       : 100%;
  background-color : @container-bg;
  color            : #333;

  .box-shadow(5px 2px 5px -3px @container-bg, -5px 2px 5px -3px @container-bg;);


  #container-content {
    padding: 1em;
    padding-top: 3.5em;
  }
}

.ui.segment {
    background-color: darken(@container-bg, 5%);
    color: #eee;

    &.attached {
        .box-shadow(0 0 0 1px darken(@container-bg, 10%));
    }
}


ul.messages {
    padding         : 0;
    margin          : 0;

    li {
        list-style-type : none;
        padding         : 0;
        margin          : 0;

        .msg-info {
            margin-left   : 1em;
            margin        : 1px;
            margin-bottom : 2px;

            .user-name {
                font-style: italic;
            }

            .time {
                padding: 0.25em 0.8em;
            }
        }

        .message-box.segment {
            padding: 0.25em;
        }

        .message {
            // To allow labels to appear nicely.
            position : relative;

            .info {
                float          : right;
                margin-top     : 0em;
                padding-top    : 0.25em;
                padding-bottom : 0.25em;
            }
        }

        .msg-detail {
            .ui.top.attached.message-box.segment {
                top: -1px;
            }
        }
    }
}

.choose-engine.stackable.grid, .post-message.stackable.grid {
    .column {
        /* This is because semantic-ui's grid sets the margin using
         `!important`. */
        margin-top     : 0 !important;
        padding-top    : 0 !important;

        margin-bottom  : 0 !important;
        padding-bottom : 0 !important;
    }
}

.ui.list.rooms {
    .item {
        /* Such shenanigans to align the input box and labels */
        .ui.label {
            margin-top: 0;
        }
        .ui.mini.input.icon.secret-link {
            .icon {
                padding-top: 0.65em;
            }

            margin-top: -0.125em;
            input {
                border: 0;
                padding-top: 0.7em;
                padding-bottom: 0.7em;
                // color: ;
                // background-color: lighten(@light, 10%);
            }
        }
    }
}
